<header role="banner" id="fh5co-header">
    <div class="fluid-container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ path('index') }}">Les Capucins (élève)</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('eleve') }}"><span>Accueil</span></a></li>
                    <li><a href="{{ path('entreprise') }}"><span>Entreprises</span></a></li>
                    <li><a href="{{ path('stageeleve') }}"><span>Stage</span></a></li>
                    <li><a href="{{ path('aideeleve') }}"><span>Aide</span></a></li>
                    <li class="call-to-action"><a class="log-in" href="{{ path('index') }}"><span>Deconnexion</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>